---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Experience from '../components/Experience.astro';
import Competency from '../components/Competency.astro';

import myself from '../assets/self.jpg';
import coursekit from '../assets/coursekit.svg';

const kCompetencies = {
	'Communication': {
		level: 'Proficient',
		progress: 80,
		description: 'Through my extensive collaborative experience with Living ArtsEngine and three semesters of teaching experience for EECS 280 (Programming and Intro Data Structures), I have developed substantial expertise in technical communication to non-technical audiences.' +
			'I will further develop my communication skills by seeking collaborative opportunities with other computer science students.'
	},
	'Creativity': {
		level: 'Developing',
		progress: 54,
		description: 'I have demonstrated creativity through my Living ArtsEngine projects and various self-started software projects, but I lack artistic creativity. I will engage with more art forms (musical instruments, digital visual design) to build expertise in artistic creativity.'
	},
	'Empathy': {
		level: 'Proficient',
		progress: 60,
		description: 'I have fostered empathy by mentoring in Living ArtsEngine, coaching individual students in EECS 280, and building a relationship-focused leadership approach in group projects. I continue to push myself to understand each others\' backgrounds, situations, and perspectives to the fullest in order to empathize with them more deeply.'
	},
	'Entrepreneurial Mindset': {
		level: 'Developing',
		progress: 60,
		description: 'I have empowered my entrepreneurial mindset to thrive by completing the Entrepreneurship minor, where I have come to understand the process of starting sustainable businesses and how that relates to engineering. I will shape this mindset through my entrepreneurship practicum courses.'
	},
	'Ethics': {
		level: 'Proficient',
		progress: 75,
		description: 'I am generally aware of non-technical ethical decisions, and I have validated this awareness in TCHNCLCM 497.' +
			' In my 300-level humanities class in Digital Studies, I came to understand platform power and data sensitivity from a user\'s standpoint. ' + 
			'I will develop my technical ethical awareness (especially around AI) in EECS 445 and by staying up-to-date with tech news and digital studies research.'
	},
	'Global/Cultural Awareness': {
		level: 'Developing',
		progress: 45,
		description: 'As a trilingual immigrant from China, I am superficially aware of global cultures, but I am not sufficiently familiar with world history and geography.' +
				'I will seek to learn from my peers and the Internet, reinforcing my knowledge using the same strategies as studying computer science.'
	},
	'Grit/Persistence': {
		level: 'Proficient',
		progress: 70,
		description: 'Through my personal software projects, I have shown persistence spanning years of iterative work on the same subjects, but I also have plenty of unfinished small projects. I will further develop my grit ' +
			'by reducing irrational risk aversion, avoiding distractions, setting solid goals, and holding myself accountable to reach those goals.'
	},
	'Leadership': {
		level: 'Developing',
		progress: 30,
		description: 'Although I have a comprehensive understanding of leadership from a research viewpoint through ORGSTUDY 201 (Leadership and Collaboration), I have not demonstrated strong leadership during my time at Michigan except when supervising Collaborative Creative Projects as a Living ArtsEngine peer mentor. ' +
			'I will reflect on my leadership style through the lens of ORGSTUDY 201, seek leadership roles in student organizations, and apply techniques from ORGSTUDY 201.'
	},
	'Lifelong Learning': {
		level: 'Developing',
		progress: 35,
		description: '"Learner" is one of my top 5 strengths, according to the Gallop StrengthsQuest assessment. I have used my continuous learning mindset to stay updated with the latest technologies (frameworks, languages, techniques) in software development. ' +
			'However, I will seek to apply this mindset to non-technical, cultural subjects such as music, art, and history.'
	},
	'Risk Management': {
		level: 'Developing',
		progress: 30,
		description: 'My personality is high in risk aversion, but I have not formally assessed risks in software engineering. I will practice this procedure with my larger software projects and on teams developing mission-critical software, such as for competition aircraft.'
	},
	'Systems Thinking': {
		level: 'Proficient',
		progress: 65,
		description: 'I have had some systems development experience in FIRST robotics in high school, and I have undergone formal exposure to both distributed systems through EECS 485 (Web Systems) and biological/social/infrastructural systems through CMPLXSYS 270 (Agent-Based Modeling). I plan to continue my systems-related coursework when earning my Masters degree by studying Operating Systems, Distributed Systems, and sociotechnological systems.'
	},
	'Teamwork': {
		level: 'Proficient',
		progress: 61,
		description: 'I have had numerous teamwork experiences throughout my experience at V1, Michigan Data Science Team, FAMNM, and Living ArtsEngine. I tend to contribute well to team projects and specialize in keeping teams on track, but I will remind myself to put more effort into developing trusting teammate relationships and keeping each other motivated.'
	}
}

---

<Layout title="MPortfolio - Michael Peng">
	<main class="container p-8 md:p-12 mx-auto">
		<section class="flex justify-between items-center lg:items-start gap-8 flex-col lg:flex-row-reverse">
			<Image src={myself} alt="Portrait of Michael Peng" width={300} height={300} format="webp" class="rounded-full" />
			<div class="flex gap-2 flex-col items-center lg:items-start text-center lg:text-left">
				<h1 class="text-6xl font-mono">Michael Peng</h1>
				<ul class="flex gap-4 my-1 text-gray-600">
					<li class="inline"><abbr title="Computer Science and Engineering">CSE</abbr> + <abbr title="Entrepreneurship minor">ENTR</abbr> <abbr title="Class of 2024">'24</abbr></li>
					<li class="inline"><a href="https://honors.engin.umich.edu">Michigan Engineering Honors</a></li>
					<li class="inline"><a href="https://broaderator.com">Public Portfolio</a></li>
				</ul>
				<p>I strive to make life more efficient and delightful by designing, building, and marketing innovative computational applications that are robust, intelligent, ergonomic, and ethical. I am fulfilling this purpose by building software projects to solve novel, practical problems, such as
					a college schedule optimizer, an agent-based airline network model, and a work schedule solver.
					To equip myself with necessary expertise, I am studying Computer Science at the University of Michigan with a minor in Entrepreneurship,
					expecting to graduate with a <abbr title="Bachelors of Science in Engineering">BSE</abbr> in Winter 2024.</p>

				<p>When not building software, I enjoy flying planes (virtually and in real life), playing the piano, and watching documentaries.</p>
				
				<h2 class="text-2xl font-mono">Philosophy</h2>
				<p>I strive to use my technical skills, innovation, and empathy to elevate human experience through novel applications of computing tools.
					In the first years of computing, computers were thought to complement human intelligence and advance human productivity.
					While they have achieved this in many ways, there are still many tedious human experiences that are better suited for computers than humans.
					My mission is to make work and life more efficient so that more human hours are spent to innovate, socialize, entertain, and imagine.</p>
					It all started with those LEGOs.
				
				<p>Born to an entrepreneurial father and raised for 11 years in Shenzhen, a city at the forefront of technology in China, I was exposed to engineering and computer science through LEGO bricks and Mindstorms robotics since I was 8. The confluence of all these themes&mdash;entrepreneurship, technology, and engineering&mdash;sculpted my profound interest in software-driven innovation as well as general creativity. When practicing to play the piano in my childhood, I was distinctively drawn to experiment with original composition even though it may have sounded poorly. When I took the leap from robot software to general computer software, I was eager to build my own projects from scratch. This predilection to make and innovate persists to this day, with my rich history of personal software projects and involvement in Living ArtsEngine, an interdisciplinary creative living-learning community at Michigan. It has cemented my career goal of designing and building novel computational applications.</p>
				<p>As I continued to build my own projects, I have come to realize the benefits and the power of self-driven enthusiasm. Once I had discovered it, I quickly transitioned all my enthusiasm into software development "for fun", downgrading other hobbies into mere chores and obligations. This has driven the creation of a diverse set of projects, from an all-encompassing Minecraft server plugin in Java in 2015 to a massive collection of real-time tracking records from campus buses at Michigan. They have convinced me that exemplary, groundbreaking work must be intrinsically driven, and thus I have honed my ability to direct my authentic enthusiasm toward whatever I face in my career. In academics, I have often implemented algorithms from class in interesting programming languages without being asked to do so. In personal projects, I have sought to understand the pain points faced by my colleagues and friends to assess whether computers can mitigate them. My application of enthusiasm to work scenarios blurs the line between life and work&mdash;work should feel as fulfilling and fun as life.</p>
				<p>Whilst letting passion drive my activities, I highly value diligent attention to detail and am cautious toward being satisfied with my work output. Thoroughly influenced by Chinese culture connecting one's social worth to their academic performance, I have internalized my childhood vow that I would never disappoint my family with my academics. In fact, I have adopted and applied my interpretation of the Mercedes-Benz mantra of "the best or nothing", especially toward my schoolwork, and even as my family's concern for my academics has faded. Presently, I realize this mantra through an outstanding commitment to self-discipline in graded assignments, doing extra work such as running tests to verify every sentence in a project specification and then crossing them off. However, I have come to grasp the pitfalls of perfectionism and seek to balance my focus to optimize for overall work quality.</p>
				<p>Given the moments where I have felt most accomplished, I am ultimately driven by altruism&mdash;the potential to make others' work and lives more efficient and enjoyable.</p>
			</div>
		</section>
		<section class="mt-8">
			<h1 class="text-4xl font-mono mb-4">Experiences</h1>
			<ul class="flex flex-col gap-2">
				<li><Experience title="CourseKit: University Enrollment Toolkit">
					<img class="inline-block" slot="logo" src={`${import.meta.env.BASE_URL}/images/coursekit.svg`} width={20} height={20} alt="CourseKit logo" />
					<p>
						When I was tediously building my first-semester schedule in Summer 2021, I realized
						that by automating the evaluation of schedule options, I can build a program that
						finds my best schedules. Using this principle, I've developed three iterations of a schedule optimizer
						for University of Michigan students, improving upon efficiency, robustness, and ease of integration
						in each iteration. In parallel, I decided to plot the enrollment trends of EECS 281 and EECS 376
						to prepare for my Winter 2022 registration, which caught the attention of a <a href="https://v1michigan.com">V1 Product Studio</a>
						team that was trying to solve waitlist stress. My vision of CourseKit integrates both the schedule optimizer and the enrollment trend predictor
						to help U-M students navigate the stress of registration.
						In Fall 2022, <a href="https://plan.courses">CourseKit Predictor</a> had over 200 unique users.
						In Winter 2023, my ALA 223 (Entrepreneurial Creativity) team will
						bring the full form of <a href="https://instagram.com/coursekitoptimizer">CourseKit Optimizer</a> to life.
					</p>
					<p>
						Looking back, I noticed the most important decision I made: I showed the V1 Product Studio team my enrollment trend graphs.
						This caught the team's interest and eventually got me invited onto the team, which made the CourseKit vision possible.
						My biggest takeaway from building CourseKit is that sharing one's work with like-minded developers can lead to powerful opportunities for collaboration and impact.
						From CourseKit, I gained experience working with interdisciplinary colleagues on open-ended projects.
						I learned to structure our goals and plans to let each member's expertise shine, ask for help on problems beyond my expertise, and convey technical ideas intuitively to non-technical audiences.
						CourseKit has solidified my professional aspiration of designing, building, and launching innovative software applications that elevate human experience.
					</p>
				</Experience></li>
				<li><Experience title="Southwest Airlines breakdown research">
					<p>
						Ever since childhood, I've been captivated by civil aviation. To apply this interest
						to my undergraduate research, I joined <a href="https://sites.google.com/umich.edu/lattice/home" rel="noreferrer">LATTICE</a> (led by professor Max Li)
						and kickstarted a project investigating the scheduling and dispatch breakdown that Southwest Airlines faced between December 22 and December 29, 2022.
						This project has now grown to a cross-institutional collaborative effort involving Michigan, Harvard, and MIT, where I have been in charge of
						extracting insights from flight records collected from the Bureau of Transportation Statistics using DuckDB and Pandas.
						So far, I have developed metrics for measuring network disruption, visualized disruption propagation on a map, and built regression models to predict
						cancellation and delay percentages.
						I am building an Agent-Based simulation to model the dynamics of network disruption propagation and validate different approaches to just-in-time recovery.
						Using my findings, I will build a user-facing application that helps airlines assess risks and develop cancellation packages for my
						Engineering Honors capstone project in Winter 2024.
					</p>
					<p>
						The Southwest meltdown project was the first research project that I initiated.
						As I was responsible for driving the vision of this project forward, I got to experience the ambiguity and uncertainty of research firsthand,
						which has prepared me well for graduate-level research.
						When conversing with Max about how I could contribute to LATTICE, I mentioned this breakdown offhandedly as a potential direction.
						I was delighted to hear that he was also interested in this subject and would be interested in advising a project on it.
					</p>
				</Experience></li>
				<li><Experience title="Cooperative house work schedule optimizer">
					<p>
						In January 2023, I heard from a past Work Manager of Escher House about the process of generating the house's work schedule.
						Work Managers need to reconcile the unique availabilities of up to 166 house members in order to assign shifts they prefer,
						which was tedious when it was done manually. Having discovered the power of linear optimization, I built a proof-of-concept in Google Apps Script
						that generates an optimal work schedule automatically, maximizing the number of preferred shift assignments.
						I then refined this tool according to emergent needs from the work manager, and it successfully generated the initial work schedule for Spring/Summer 2023, Fall 2023, and Winter 2024.
					</p>
					<p>
						My main takeaway from building and deploying the work schedule optimizer was that
						even smalltalk can lead to innovation. My conversation with the former Work Manager
						was supposedly focused on my peer mentorship at Living ArtsEngine, but they happened
						to mention their Escher officer work at the end of our meeting. I took the opportunity
						to ask how automation could help with officer work, and their answer inspired me to build
						the work schedule optimizer. In my mind, this shed a new light on socialization.
						Chatting can help me discover opportunities to apply my expertise to make someone's life better.
					</p>
				</Experience></li>
			</ul>
		</section>
		<section class="mt-8">
			<h1 class="text-4xl font-mono mb-4">Honors Plan</h1>
			<div class="grid grid-cols-1 gap-3 lg:grid-cols-3 mb-4">
				{Object.entries(kCompetencies).map(([label, info]) =>
					<Competency title={label} level={info.level} progress={info.progress}>
						<div class="col-span-full text-gray-600 mb-3">{info.description}</div>
					</Competency>)}
			</div>
			<h2 class="text-2xl font-mono mb-1">Goal 1</h2>
			<p class="mb-4"><strong>Exercise for at least 1.5 hours per week during the Winter 2024 semester</strong></p>
			<h2 class="text-2xl font-mono mb-1">Goal 2</h2>
			<p><strong>Apply to at least 100 software engineering internship positions for Summer 2024 between January 2024 and February 2024</strong></p>
		</section>
	</main>
</Layout>

<style>
</style>
